
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

a{
    color: blueviolet;
    text-decoration: none;
}

section{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    background-color:#e6e6ff;
}

.login-form{
    position: relative;
    display: grid;
    place-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.login-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form form .input-group{
    display: flex;
    flex-direction: column;
}

.login-form form .input-group label{
    margin-bottom: 8px;
}

.login-form form input{
    height: 30px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;
    padding-left: 8px;
}

.login-form form input[type="email"]:focus,input[type="password"]:focus{
    outline: 1px solid #000;
}


.login-form form .rem-group{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.login-form form .rem-group label{
    margin-bottom: 0;
    margin-top: 5px;
}

.login-form form .rem-group a{
    margin-top: 5px;
    margin-left: 30px;
}

.login-form form input[type="checkbox"]{
    margin: 0;
}

.login-form form input[type="submit"]{
    font-size: medium;
    background-color: blueviolet;
    color: #fff;
    height: 40px;
    cursor: pointer;
}


.login-form form h1{
    margin-bottom:10px;
}

.login-form form .input-group.google-signin-group{
    display: grid;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

.login-form form .input-group.google-signin-group .google{
    position: relative;
    width: 180px;
}

.login-form form .input-group.google-signin-group .google .google-txt{
    position: absolute;
    margin-top: 6px; 
    margin-left: 3px; 
}


.login-form form .input-group .google .google-img{
    width: 30px;
    height: 30px;
}

.login-form form .input-group.signup-group{
    display: grid;
    justify-content: center;
}

section .side-logo{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

section .side-logo .circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: blueviolet;
}

section .side-logo .blur{
    position: absolute;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 150px;
    top: 50%;
}

.result{
    position: absolute;
    display: none;
    align-items: center;
    gap: 5px;
    top: 10px;
    right: 10px;
    border: none;
    padding: 5px 35px 5px 10px;
    border-radius: 4px;
    color: #fff;
}

.result.success{
    background-color: #66ff66;
}
.result.process{
    background-color: #ffa64d;
}
.result.failure{
    background-color: #ff1a1a;
}

.result i{
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.result.success i:hover{
    background-color: #00e600;
}
.result.process i:hover{
    background-color: #e67300;
}
.result.failure i:hover{
    background-color: #cc0000;
}

.result .res-group{
    display: flex;
    flex-direction: column;
    gap: 3px;
    /* padding: 3px; */
}

.result.success .result-msg::before{
    font-size: larger;
    content: "Success";
}

.result.process .result-msg::before{
    font-size: larger;
    content: "Process";
}

.result.failure .result-msg::before{
    font-size: larger;
    content: "Failure";
}

.result .res-group .error{
    font-size: x-small;
}

.result.process .res-group .error{
    display: none;
}